<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
    <meta charset="UTF-8">
    <title>항공권 예약 및 여행 정보 | 대한항공</title>
</head>
<body>

<div layout:fragment="content">
    <div class="boardContents cf">
        <div id="boardMenuButton" class="cf">
            <span>고객지원<img src="/images/next.png" alt=">"><a href="#" tabindex="82">&nbsp;게시판 <img src="/images/trigger.png" alt="아래메뉴"></a> </span>
        </div><!-- id="boardMenuButton" -->
        <div class="contentsDetailTitle cf">
            <h2>새 글 쓰기</h2>
        </div><!-- class="contentsTitle" -->

        <p th:if="${msg}" th:text="${msg}" style="color:blue"></p>

        <form method="get" th:action="@{/board_save}">
            <div class="boardInsertHeader cf">
                <div class="insertHeaderBox01">
                    <label for="title">제목</label>
                    <input type="text" name="title" id="title">
                </div>
                <div class="insertHeaderBox02">
                    <label for="author">작성자</label>
                    <input type="text" name="author" id="author" th:value="${member.name}" disabled>
                    <!--<input type="text" name="author" id="author">-->
                </div>
            </div>
            <div class="boardInsertContents">
                <textarea name="content" id="content"></textarea>
            </div>
            <input th:if="${no}" type="hidden" >
            <input type="submit" class="insertbtn" value="저장">
        </form>

    </div><!-- class="boardContents" -->
</div>

</body>
</html>