<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--대체되는 내용-->
<div layout:fragment="content">
  <div class="boardContents cf">
    <div id="boardMenuButton" class="cf">
      <span>고객지원<img src="images/next.png" alt=">"><a href="#" tabindex="82">&nbsp;게시판 <img src="images/trigger.png" alt="아래메뉴"></a> </span>
    </div><!-- id="boardMenuButton" -->
    <div class="contentsTitle cf">
      <h2>게시판</h2>
      <button class="showBalloon" title="새글 작성하기" th:onclick="|location.href='@{/board/insert}'|">글쓰기</button>
    </div><!-- class="contentsTitle" -->
    <div id="boardSearch" class="cf">
      <div class="boardSearchTitle fl">
        <h3>게시판 검색</h3>
      </div>
      <div class="boardSearchCont fl">
        <p>키워드 검색</p>
        <input type="text" id="search">
      </div>
      <div class="boardSearchBtn fl">
        <button class="showBalloon" title="검색하기">검색</button>
      </div>
    </div><!-- id="boardSearch" -->
    <div id="boardList" class="cf">
      <div class="boardHeader cf">
        <div class="headerBox01"><p>번호</p></div>
        <div class="headerBox02"><p>제목</p></div>
        <div class="headerBox03"><p>작성자</p></div>
        <div class="headerBox04"><p>등록일</p></div>
        <div class="headerBox05"><p>조회수</p></div>
      </div>
      <div class="boardContent cf" th:each="obj, loop : ${list}">
        <div class="contentBox1"><p th:text="${list.getTotalElements - (list.number * list.size) - loop.index}"></p></div>
        <div class="contentBox2"><a th:href="@{/board_detail/{no}(no=${obj.no})}"><p th:text="${obj.title}"></p></a></div>
        <div class="contentBox3"><p th:text="${obj.author}"></p></div>
        <div class="contentBox4"><p th:text="${obj.created_date}"></div>
        <div class="contentBox5"><p th:text="${obj.view_count}"></div>
      </div>

    </div><!-- id="boardList" -->
    <div id="boardPagination" class="cf">
      <div th:if="${!list.isEmpty()}" class="board_page_num cf">
        <div class="page_arrow prev fl" th:classappend="${!list.hasPrevious} ? 'none'">
          <!--<button th:onclick="|location.href='@{?page=${list.number-1}}'|">이전</button>-->
          <a th:href="@{|?page=${list.number-1}|}">이전</a>
        </div>
        <div th:each="page: ${#numbers.sequence(0, list.totalPages-1)}"
             th:if="${page >= list.number-5 and page <= list.number+5}"
             th:classappend="${page == list.number} ? 'active'"
             class="num fl">
          <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
        </div>
        <div class="page_arrow next fl" th:classappend="${!list.hasNext} ? 'none'">
          <a th:href="@{|?page=${list.number+1}|}">다음</a>
        </div>
      </div>
     <!-- <ul>
        <li class="pageFirst"><a href="#" tabindex="111" class="showBalloon" title="맨 처음 페이지"><img src="images/first.png" alt="double left arrow"></a></li>
        <li class="pagePrev"><a href="#" tabindex="112" class="showBalloon" title="이전 페이지"><img src="images/prev.png" alt="left arrow"></a></li>
        <li class="active"><a href="#" tabindex="113">1</a></li>
        <li><a href="#" tabindex="114">2</a></li>
        <li><a href="#" tabindex="115">3</a></li>
        <li><a href="#" tabindex="116">4</a></li>
        <li class="bdr"><a href="#" tabindex="117">5</a></li>
        <li class="pageNext"><a href="#" tabindex="118" class="showBalloon" title="다음 페이지"><img src="images/next.png" alt="right arrow"></a></li>
        <li class="pageLast"><a href="#" tabindex="119" class="showBalloon" title="맨 마지막 페이지"><img src="images/last.png" alt="double right arrow"></a></li>
      </ul>-->
    </div><!-- id="boardPagination" -->
  </div><!-- class="boardContents" -->
</div>
</body>
</html>