<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{commons/layout}">
<head>
  <meta charset="UTF-8">
  <title>항공권 예약 및 여행 정보 | 대한항공</title>
</head>
<body>
<!--대체되는 내용-->
<div layout:fragment="content">
  <div class="boardContents cf">
    <div id="boardMenuButton" class="cf">
      <span>고객지원<img src="images/next.png" alt=">"><a href="#" tabindex="82">&nbsp;게시판 <img src="images/trigger.png" alt="아래메뉴"></a> </span>
    </div><!-- id="boardMenuButton" -->
    <div class="contentsTitle cf">
      <h2>게시판</h2>
      <button class="showBalloon" title="새글 작성하기" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/board/insert}'|">글쓰기</button>
    </div><!-- class="contentsTitle" -->
    <div id="boardSearch" class="cf">
      <div class="boardSearchTitle fl">
        <h3>게시판 검색</h3>
      </div>
      <form th:action="@{/board}" method="get">
      <div class="boardSearchCont fl">
        <p>키워드 검색</p>
          <input type="text" id="search" name="searchKeyword" th:value="${param.searchKeyword}">
      </div>
      <div class="boardSearchBtn fl">
        <button type="submit" class="showBalloon" title="검색하기">검색</button>
      </div>
      </form>
    </div><!-- id="boardSearch" -->
    <div id="boardList" class="cf">
      <div class="boardHeader cf">
        <div class="headerBox01"><p>번호</p></div>
        <div class="headerBox02"><p>제목</p></div>
        <div class="headerBox03"><p>작성자</p></div>
        <div class="headerBox04"><p>등록일</p></div>
        <div class="headerBox05"><p>조회수</p></div>
      </div>
      <div class="boardContent cf" th:each="obj, loop : ${list}">
        <div class="contentBox1"><p th:text="${list.getTotalElements - (list.number * list.size) - loop.index}"></p></div>
        <div class="contentBox2"><a th:href="@{/board_detail/{no}(no=${obj.no})}"><p th:text="${obj.title}"></p></a></div>
        <div class="contentBox3"><p th:text="${obj.member.name}"></p></div>
        <div class="contentBox4"><p th:text="${obj.created_date}"></div>
        <div class="contentBox5"><p th:text="${obj.view_count}"></div>
      </div>
    </div><!-- id="boardList" -->

    <div id="boardPagination" class="cf">
      <div th:if="${!list.isEmpty()}" class="board_page_num cf">
        <div class="page_arrow pageFirst prev fl" th:classappend="${!list.hasPrevious} ? 'hidden'">
          <a th:href="@{|?page=${0}|}"><img src="images/first.png"></a>
        </div>
        <div class="page_arrow pagePrev prev fl" th:classappend="${!list.hasPrevious} ? 'hidden'">
          <a th:href="@{|?page=${list.number-1}|}"><img src="images/prev.png"></a>
        </div>
        <div th:each="page: ${#numbers.sequence(0, list.totalPages-1)}"
             th:if="${page >= list.number-5 and page <= list.number+5}"
             th:classappend="${page == list.number} ? 'active'"
             class="num fl">
          <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
        </div>
        <div class="page_arrow pageNext next fl" th:classappend="${!list.hasNext} ? 'hidden'">
          <a th:href="@{|?page=${list.number+1}|}"><img src="images/next.png"></a>
        </div>
        <div class="page_arrow pageLast next fl" th:classappend="${!list.hasNext} ? 'hidden'">
          <a th:href="@{|?page=${list.totalPages-1}|}"><img src="images/last.png"></a>
        </div>
      </div>
    </div><!-- id="boardPagination" -->
  </div><!-- class="boardContents" -->
</div>
</body>
</html>